{% extends "base.html" %}
{% block title %}B-WELL | Home{% endblock %}

{% block content %}
<section class="hero">
  <div class="hero-overlay"></div>

  <div class="hero-inner">
    <p class="hero-kicker">DAILY WELLBEING TRACKING FOR STUDENTS</p>

    <h1 class="hero-title">
      BUILD<br>
      BETTER<br>
      DAYS
    </h1>

    <p class="hero-subtitle">
      TRACK YOUR WELLBEING THROUGH<br>
      SIMPLE DAILY CHECK-INS.
    </p>

    <div class="hero-actions">
      <a class="btn btn-primary" href="{{ url_for('complete') }}">START TRACKING</a>
    </div>

  </div>
{#   {% if session.get("user_id") %}#}
{#      <div class="hero-stats">#}
{#        <table>#}
{#          <thead>#}
{#            <tr><th>Date</th>#}
{#                <th>Average Score</th></tr>#}
{#          </thead>#}
{#          <tbody>#}
{#            {% if daily_scores %}#}
{#              {% for date, score in daily_scores|dictsort(reverse=True) %}#}
{#                <tr>#}
{#                  <td>{{ date }}</td>#}
{#                  <td>{{ score }}</td>#}
{#                </tr>#}
{#              {% endfor %}#}
{#            {% else %}#}
{#              <tr><td colspan="2">No results</td></tr>#}
{#            {% endif %}#}
{#          </tbody>#}
{#        </table>#}
{#      </div>#}
{#  {% endif %}#}
</section>
{% endblock %}