{% extends "base.html" %}

{% block content %}

    <h1>Registration</h1>

     <form action='' method="post" novalidate>
         {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username }}<br>
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email }}<br>
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password }}<br>
        </p>
        <p>
            {{ form.confirm_password.label }}<br>
            {{ form.confirm_password }}<br>
        </p>
        <p>
            {{ form.consent.label }}<br>
            {{ form.consent }}<br>
        </p>

         {% if form.errors %}
            <ul>
            {% for field, errors in form.errors.items() %}
                {% for err in errors %}
                    <li>{{ err }}</li>
                {% endfor %}
            {% endfor %}
            </ul>
        {% endif %}

        <p>{{ form.submit() }}</p>

     </form>

{% endblock %}