{% extends "base.html" %}
{% block title %}B-WELL | Score{% endblock %}

{% block content %}
<section class="hero">
<div class="hero-inner">
  <h1 class="hero-title">
      Average <br> score: {{ score }}
    </h1>
</div>

</section>


<section class="recommendations">
  {% if resources %}

    <div class="recommend-header">
      <p class="recommend-kicker">Personalised support</p>
      <h2 class="recommend-title">Recommended For You</h2>

      <p class="recommend-sub">
        Based on your recent score, these areas may need attention:
      </p>

      <div class="recommend-tags">
        {% for cat in low_categories %}
          <span>{{ cat }}</span>
        {% endfor %}
      </div>
    </div>

    <div class="recommend-grid">
      {% for r in resources %}
        <article class="recommend-card">
          <p class="recommend-category">{{ r.category }}</p>
          <h3>{{ r.title }}</h3>

          <a href="{{ r.url }}" target="_blank" class="recommend-link">
            View Resource
          </a>
        </article>
      {% endfor %}
    </div>

  {% endif %}
</section>

{% endblock %}