{% extends "base.html" %}
{% block title %}B-WELL | Score{% endblock %}

{% block content %}
<section class="hero">
<div class="hero-inner">
  <h1 class="hero-title">
      Average <br> score: {{ score }}
    </h1>
</div>

</section>


<section class="recommendations">
  {% if resources %}
    <h2 class="recommend-title">Recommended For You</h2>
    <p class="recommend-sub">
      Based on your recent score in:
        <span>
            <ul>
                {% for cat in low_categories %}
                <li> {{cat}}
                {% endfor %}
            </ul>
      </span>.
    </p>

    <div class="recommend-grid">
      {% for r in resources %}
        <div class="recommend-card">
          <h3>{{ r.title }}</h3>
          <p class="recommend-category">{{ r.category }}</p>

          <a href="{{ r.url }}" target="_blank" class="recommend-link">
            View Resource
          </a>
        </div>
      {% endfor %}
    </div>
  {% endif %}
</section>

{% endblock %}