{% extends "base.html" %}
{% block title %}B-WELL | Score{% endblock %}

{% block content %}

<section class="graph-page">
    <br>
    <br>
    <br>
    <br>

  <section class="graph-select">
    <form method="GET" class="graph-form">

      <select name="graph_options" class="graph-dropdown" onchange="this.form.submit()">

        <option value="average" {% if graph_option == "average" %}selected{% endif %}>
          Average Across All Categories
        </option>

        <option value="stress" {% if graph_option == "stress" %}selected{% endif %}>
          Stress Scores
        </option>

        <option value="sleep" {% if graph_option == "sleep" %}selected{% endif %}>
          Sleep Scores
        </option>

        <option value="social" {% if graph_option == "social" %}selected{% endif %}>
          Social Scores
        </option>

        <option value="academic" {% if graph_option == "academic" %}selected{% endif %}>
          Academic Scores
        </option>

        <option value="activity" {% if graph_option == "activity" %}selected{% endif %}>
          Activity Scores
        </option>

      </select>
    </form>
  </section>

  <section class="graph">

    <div class="graph-visualisation">
      <canvas id="Graph"></canvas>
    </div>

    <p class="graph-summary">
      Your average {{ title_lower }} is
      <span>{{ avg }}</span>
    </p>

  </section>

</section>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('Graph');

  new Chart(ctx, {
    type: 'line',
    data: {
      labels: {{ labels | safe }},
      datasets: [{
        label: '{{ title }}',
        data: {{ values | safe }},
        borderWidth: 2,
        borderColor: '#54d2b5',
        backgroundColor: 'rgba(84,210,181,0.2)',
        tension: 0.3
      }]
    },
    options: {
      plugins: {
        title: {
          display: true,
          text: '{{ title }}',
          color: 'white'
        }
      },
      scales: {
        y: {
          ticks: { color: 'white' },
          grid: { color: 'rgba(255,255,255,0.1)' },
          beginAtZero: true,
          suggestedMax: 5
        },
        x: {
          ticks: {
            color: 'white',
            maxRotation: 90,
            minRotation: 90
          },
          grid: { color: 'rgba(255,255,255,0.05)' }
        }
      },
      responsive: true
    }
  });
</script>

{% endblock %}